.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #F35D5D;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #F35D5D;
        }

        span{
            font-size: 13px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
        }
      }
    }
  }

  .bottom{
      display: flex;
      align-items: center;
      margin: 10px;

      .colorOption{
          width: 20px;
          height: 20px;
          border-radius: 5px;
          border: 1px solid #7451f8;
          cursor: pointer;
          margin: 5px;

          &:nth-child(1){
              background-color: whitesmoke;
          }
          &:nth-child(2){
              background-color: #333;
          }
          &:nth-child(3){
              background-color: darkblue;
          }
      }
  }
}

.modal__container{
  position: absolute;
  background: #fff;
  border-radius: 8px;
  width: 380px;
  height: 500px;
  padding: 10px;
  bottom: 50px;
  left: 300px;
}
.modal__container #form{
  padding-top: 10px;
}
.modal__container #form__input{

  width: 250px;
}

#db__connect{
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
  color: #fff;
  padding: 5px;
  background:#F35D5D; ;
}

.modal__container .close-btn{
  position: absolute;
  top: 0;
  right: 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.modal__overlay{
  background: rgba(0 , 0, 0,.5);
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
}